.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.rar
*.zip
*.sw*
*.zip
HuojvMobile.iml
/dist-h5-dev
/dist-h5-pro
/dist-h5-sim
/dist-h5-uat
# /*

